body {
  margin: 0;
  padding: 0;
  background-color: bisque;
}

main {
  margin: 0 auto;
  max-width: 700px;
  width: 100%;
  padding: 8px 16px;
  min-height: calc(100vh - 200px);
}

header {
  margin: 0 auto;
  max-width: 700px;
  width: 100%;
  padding: 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  background-color: burlywood;
  border-radius: 3px;
  margin-top: 16px;
}

header .logo {
  flex: 0 auto;
  display: flex;
  align-items: center;
  align-content: center;
  margin-right: 20px;
}

header .logo a {
  color: rgb(16, 1, 1);
  text-decoration: none;
  font-weight: 700;
}
header nav {
  flex: 0 auto;
  display: flex;
  align-items: center;
  padding: 8px;
}
header .user {
  margin-left: auto;
  flex: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}
header .user button {
  color: white;
  padding: 8px 16px;
  background-color: rgb(49, 95, 180);
  border-radius: 3px;
  border: 0px;
  margin-left: 16px;
  cursor: pointer;
}

nav.main-navigation {
  display: flex;
  flex-direction: column;
}

nav.main-navigation ul {
  flex: 1;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 16px;
  align-items: center;
}

nav.main-navigation ul li {
  flex: 0 auto;
}

nav.main-navigation ul li a {
  color: rgb(48, 5, 5);
  text-decoration: none;
  font-weight: 500;
}

footer {
  margin: 0 auto;
  max-width: 700px;
  width: 100%;
  padding: 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  background-color: burlywood;
  border-radius: 3px;
  margin-bottom: 16px;
  min-height: 120px;
}

nav.secondary-navigation ul {
  flex: 1;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 16px;
  gap: 16px;
}

nav.secondary-navigation ul li {
  flex: 0 auto;
}

nav.secondary-navigation ul li a {
  color: rgb(48, 5, 5);
  text-decoration: none;
  font-weight: 500;
}

footer .logo {
  flex: 0 auto;
  display: flex;
  align-items: top;
  align-content: center;
  margin-right: 20px;
  padding-top: 16px;
}

footer .logo a {
  color: rgb(16, 1, 1);
  text-decoration: none;
  font-weight: 700;
}

.login-form {
  margin: 0 auto;
  margin-top: 25px;
  max-width: 360px;
  width: 100%;
  background-color: burlywood;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.login-form .form-field {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.login-form .form-field input {
  flex: 1;
  border-radius: 3px;
  border: 1px solid rgb(184, 136, 72);
  padding: 8px;
}

.login-form button {
  color: white;
  padding: 8px 16px;
  background-color: rgb(49, 95, 180);
  border-radius: 3px;
  border: 0px;
  cursor: pointer;
  font-weight: 700;
}

.section {
  margin-top: 8px;
  margin-bottom: 24px;
}

.section .section-heading {
  margin-bottom: 16px;
  padding-bottom: 8px;
  border-bottom: 1px solid rgb(139, 93, 34);
  display: flex;
  flex-direction: row;
}

.section .section-heading h2 {
  margin: 0;
}

.section .section-heading input.section-search {
  flex: 0 auto;
  margin-left: auto;
  border-radius: 3px;
  border: 1px solid rgb(184, 136, 72);
  padding: 8px;
}

.movie-thumbnail {
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.movie-thumbnail:hover {
  transform: scale(1.05);
}

.movie-poster {
  width: 100%;
  height: auto;
}

.movie-info {
  padding: 10px;
}

.movie-title {
  font-size: 18px;
  margin: 0 0 5px;
}

.movie-year,
.movie-rating {
  font-size: 14px;
  color: #666;
  margin: 0;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 50%;
  min-width: 0;
  max-width: 100%; /* Prevent from growing larger than viewport */
  margin-right: 20px;
}

@media (min-width: 768px) {
  .embla__slide {
    flex: 0 0 180px; /* Breakpoint SM slide covers 50% of the viewport */
  }
}

.embla__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 8px;
}
.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}
.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 3.6rem;
  height: 3.6rem;
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
}
.embla__button:disabled {
  color: var(--detail-high-contrast);
}
.embla__button__svg {
  width: 35%;
  height: 35%;
}
